
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

src/Commands/UserDeleteCommand.php
src/Commands/UserReadCommand.php
src/Commands/UserUpdateCommand.php

src/Entity/User.php

src/Manager/BaseManager.php
src/Manager/UserManager.php
